<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Salary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</html>
<body>
<div>
    Dear {{data.employee.fullname}},
    {{content}}

    <table>
        <tr>
            <th>Basic Salary</th>
            <th>Allowance</th>
            <th>Gross Salary</th>
            <th>Net Salary</th>
            <th>Tax</th>
        </tr>
        <tr>
            <td>NRs {{data.basic_salary}}</td>
            <td>NRs {{data.allowance}}</td>
            <td>NRs {{data.gross_salary}}</td>
            <td>NRs {{data.net_salary}}</td>
            <td>{{data.tax}} %</td>
        </tr>
    </table>

    Thanks,
    Jawalakhel Chowk, Kathmandu, Nepal
    Telephone: +977 9849629971
    https://www.togglecorp.com/
</div>
</body>